{% extends 'base.html' %}
{% load comments%}
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{post.body}}
    </div>
    <div class="mdl-card__actions">
        {{post.posted}} - By {{post.author}}
    </div>
</div>

<--!Most of the time, you’ll have some object in the template’s context you
want to attach the comment to; you can simply use that object.-->
<--!To display a list of comments, you can use the template tags render_comment_list-->
{% render_comment_list for post%}
{% endblock %}